@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}

body {
    background-color: Chartreuse;
    color: DarkGreen;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

h1 {
    line-height: 1.4;
}

.btn {
    border: 0;
    background-color: DarkGreen
    color: Chartreuse;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opactity: 0.9;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    transition: transform 1s esase-in;
}

.message.visible {

}

.screen.up {
    margin-top: -100vh;
}

.insects-list {
list-style-type: none;
padding: 0;
}

.insects-list li {
    margin: 10px;
}

.choose-insect-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.choose-insect-btn.png {

}

.choose-insect-btn:active {
    background-color: blue;
}


.game-container {
    position: relative;
}

.time, .score {
    position: absolute;
    top: 20px;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

.message {
    line-height: 1.7;
    background-color: orange;
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    position: absolute;
    top: 20%;
    opactiy: 0;
}

.message.visible {
    opacity: 1;
}



.insect {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
}

.insect img
{
width: 100px;
height: 100px;
}

.insect.caught {
    transform: scale(0);
}

