
*{
    box-sizing: border-box;
}



body {
    background-color: #fcd7fb; /*To blend two colors: linear-gradient(90deg, color, color);*/
    display: flex; /* uses Flexbox which responds to different screen sizes*/
    align-items: center; /*Vertically center*/
    justify-content: center; /*Horrizontally center*/
    height: 100vh; /*Setting body height to 100%: remember!*/
    margin: 0; /*gets rid of side scroll bar*/
}

.search {
   position: relative;
   height: 50px;
}




.search .input{ /*input*/
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding: 15px;
    border: 0; /*gets rid of border*/
    background-color: LavenderBlush;
    transition: width 1s ease;
}

.search .btn{
    background-color: white;
    border: 0;
    font-size: 24px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0px;
    transition: transform 1s ease;
}


.search.active .input {
width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}


.search .input:focus{
    outline: none;
}

